<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flow.system.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="com.flow.system.bean.OrderBean">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="USER_CODE" jdbcType="VARCHAR" property="userCode" />
    <result column="PROVIDER_CODE" 	jdbcType="VARCHAR" 	property="providerCode" />
    <result column="DISTRIBUTOR_CODE" 	jdbcType="VARCHAR" 	property="distributorCode" />
    <result column="PROVIDER_NAME" 	jdbcType="VARCHAR" 	property="providerName" />
    <result column="ORDER_CODE" 	jdbcType="VARCHAR" property="orderCode" />
    <result column="PROVIDER_ORDER_CODE" 	jdbcType="VARCHAR" property="providerOrderCode" />
    <result column="DISTRIBUTOR_ORDER_CODE" jdbcType="VARCHAR" property="distributorOrderCode" />
     <result column="OPERATOR_CODE" jdbcType="VARCHAR" property="operatorCode" />
     <result column="OPERATOR_NAME" jdbcType="VARCHAR" property="operatorName" />
     <result column="PROVINCE_NAME" jdbcType="VARCHAR" property="provinceName" />
     <result column="PHONE" jdbcType="VARCHAR" property="phone" />
     <result column="SIZE" jdbcType="VARCHAR" property="size" />
     <result column="PRICE" jdbcType="DOUBLE" property="price" />
     <result column="Discount" jdbcType="DOUBLE" property="discount" />
     <result column="state" jdbcType="INTEGER" property="state" />
     <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
     <result column="CALLBACK_DATE" jdbcType="TIMESTAMP" property="callBackDate" />
     <result column="CALLBACK_CODE" jdbcType="VARCHAR" property="callBackCode" />
     <result column="CALLBACK_CODE_MESS" jdbcType="VARCHAR" property="callBackCodeMess" />
  </resultMap>
  
  <sql id="query_body">
  	<where>
  		<if test="phone !=null and phone != ''"> AND a.PHONE = #{phone}</if>
  		<if test="orderCode !=null and orderCode != ''"> AND a.ORDER_CODE = #{orderCode}</if>
  		<if test="distributorOrderCode !=null and distributorOrderCode != ''"> AND a.DISTRIBUTOR_ORDER_CODE = #{distributorOrderCode}</if>
  		<if test="providerCode !=null and providerCode != '-1'"> AND a.PROVIDER_CODE = #{providerCode}</if>
  		<if test="operatorCode !=null and operatorCode != '-1'"> AND a.OPERATOR_CODE = #{operatorCode}</if>
  		<!-- <if test="provinceCode !=null and provinceCode != '-1'"> AND a.OPERATOR_CODE = #{operatorCode}</if> -->
  	</where>
  </sql>
  
  <select id="listPage" resultMap="BaseResultMap" parameterType="java.util.Map">
  	SELECT a.ID , a.DISTRIBUTOR_CODE , a.PROVIDER_CODE , b.NAME AS PROVIDER_NAME , a.DISTRIBUTOR_CODE, a.ORDER_CODE ,
		a.PROVIDER_ORDER_CODE , a.DISTRIBUTOR_ORDER_CODE , a.OPERATOR_CODE , c.OPERATOR_NAME ,
		a.PHONE , a.SIZE , a.Price ,
		a.Discount , a.STATE , a.CREATE_DATE , a.CALLBACK_DATE , a.CALLBACK_CODE,a.CALLBACK_CODE_MESS
	FROM t_flow_order a
	INNER JOIN t_flow_provider b ON a.PROVIDER_CODE = b.PROVIDER_CODE
	INNER JOIN t_base_operator c ON a.OPERATOR_CODE = c.ID
	<include refid="query_body"/>
  	limit #{start} , #{pageSize}
  </select>
  
  <select id="getCount" resultType="java.lang.Long" parameterType="java.util.Map">
  	SELECT COUNT(1) FROM t_flow_order a <include refid="query_body"/>
  </select>
  
  <select id="selectByOrderCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT a.ID , a.DISTRIBUTOR_CODE , a.PROVIDER_CODE , b.NAME AS PROVIDER_NAME , a.DISTRIBUTOR_CODE , a.ORDER_CODE ,
		a.PROVIDER_ORDER_CODE , a.DISTRIBUTOR_ORDER_CODE , a.OPERATOR_CODE , c.OPERATOR_NAME ,
		a.PHONE , a.SIZE , a.Price ,
		a.Discount , a.STATE , a.CREATE_DATE , a.CALLBACK_DATE , a.CALLBACK_CODE,a.CALLBACK_CODE_MESS
	FROM t_flow_order a
	INNER JOIN t_flow_provider b ON a.PROVIDER_CODE = b.PROVIDER_CODE
	INNER JOIN t_base_operator c ON a.OPERATOR_CODE = c.ID
	where a.ORDER_CODE = #{orderCode,jdbcType=VARCHAR}
  </select>
  
</mapper>