<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flow.system.mapper.ProductMapper">
  <resultMap id="BaseResultMap" type="com.flow.system.model.Product">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="PRODUCT_CODE" jdbcType="VARCHAR" property="productCode" />
    <result column="PRODCUT_NAME" jdbcType="VARCHAR" property="prodcutName" />
    <result column="OPERATOR_CODE" jdbcType="VARCHAR" property="operatorCode" />
    <result column="PROVIDER_CODE" jdbcType="VARCHAR" property="providerCode" />
    <result column="PRO_PRODUCT_CODE" jdbcType="VARCHAR" property="proProductCode" />
    <result column="PROVINCE_CODE" jdbcType="VARCHAR" property="provinceCode" />
    <result column="ENABLE_AREA" jdbcType="INTEGER" property="enableArea" />
    <result column="ENABLE_TYPE" jdbcType="INTEGER" property="enableType" />
    <result column="PRIORITY" jdbcType="INTEGER" property="priority" />
    <result column="SIZE" jdbcType="INTEGER" property="size" />
    <result column="PRICE" jdbcType="DOUBLE" property="price" />
    <result column="DISCOUNT" jdbcType="DOUBLE" property="discount" />
    <result column="PURCHASED" jdbcType="DOUBLE" property="purchased" />
    <result column="STATE" jdbcType="INTEGER" property="state" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <association property="mobileOperator" javaType="com.flow.system.model.MobileOperator">
		<id column="OPERATOR_CODE" jdbcType="INTEGER" property="id" />
		<result column="OPERATOR_NAME" jdbcType="VARCHAR" property="operatorName" />
	</association>
	<association property="provider" javaType="com.flow.system.model.Provider">
		<id column="PROVIDER_CODE" jdbcType="VARCHAR" property="providerCode" />
		<result column="NAME" jdbcType="VARCHAR" property="name" />
	</association>
	<association property="province" javaType="com.flow.system.model.Province">
		<id column="PROVINCE_CODE" jdbcType="INTEGER" property="id" />
		<result column="PROVINCE_NAME" jdbcType="VARCHAR" property="provinceName" />
	</association>
  </resultMap>
  <sql id="query_body">
  	<where>
  		<if test="prodcutName !=null and prodcutName != ''"> AND a.PRODCUT_NAME like "%"#{prodcutName}"%"</if>
  		<if test="operatorCode !=null and operatorCode != '' and operatorCode != '-1'"> AND a.OPERATOR_CODE = #{operatorCode}</if>
  		<if test="providerCode !=null and providerCode != '' and providerCode != '-1'"> AND a.PROVIDER_CODE = #{providerCode}</if>
  		<if test="provinceCode !=null and provinceCode != '' and provinceCode != '-1'"> AND a.PROVINCE_CODE = #{provinceCode}</if>
  		<if test="enableArea !=null and enableArea != '' and enableArea !='-1'"> AND a.ENABLE_AREA = #{enableArea}</if>
  		<if test="state !=null and state != '' and state != '-1'"> AND a.STATE = #{state}</if>
  	</where>
  </sql>
  <sql id="Base_Column_List">
    ID, PRODUCT_CODE, PRODCUT_NAME, OPERATOR_CODE, PROVIDER_CODE, PRO_PRODUCT_CODE, PROVINCE_CODE, 
    ENABLE_AREA, ENABLE_TYPE, PRIORITY, SIZE, PRICE, DISCOUNT, PURCHASED, STATE, DESCRIPTION
  </sql>
  
  <select id="findAllProduct" resultMap="BaseResultMap">
  	select a.*, b.OPERATOR_NAME, c.PROVINCE_NAME, d.NAME
	from t_flow_product a
	INNER JOIN t_base_operator b ON a.OPERATOR_CODE = b.ID
	INNER JOIN t_base_province c ON a.PROVINCE_CODE = c.ID
	INNER JOIN t_flow_provider d ON a.PROVIDER_CODE = d.PROVIDER_CODE
  </select>
  
  <!-- 获取经销商的流量包列表 -->
  <select id="findProductByUserCode" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select a.ID, a.PRODUCT_CODE, a.PRODCUT_NAME, a.OPERATOR_CODE, a.PROVIDER_CODE, a.PRO_PRODUCT_CODE, a.PROVINCE_CODE, 
    	a.ENABLE_AREA, a.ENABLE_TYPE, a.PRIORITY, a.SIZE, a.PRICE, a.PURCHASED, a.STATE, a.DESCRIPTION, e.DISCOUNT ,
    	b.OPERATOR_NAME, c.PROVINCE_NAME, d.NAME
	from t_flow_product a
	INNER JOIN t_base_operator b ON a.OPERATOR_CODE = b.ID
	INNER JOIN t_base_province c ON a.PROVINCE_CODE = c.ID
	INNER JOIN t_flow_provider d ON a.PROVIDER_CODE = d.PROVIDER_CODE
	INNER JOIN (
		SELECT a.PRODUCT_CODE , a.DISCOUNT 
		FROM t_flow_serv_prod a 
		INNER JOIN t_flow_service b ON a.SERVICE_CODE = b.SERVICE_CODE AND b.STATE = 1
		INNER JOIN t_flow_distributor c ON b.distributor_code = c.distrbutor_code 
		WHERE c.USER_CODE = #{userCode}
	)e ON a.PRODUCT_CODE = e.PRODUCT_CODE
  </select>
  
  <select id="listPage" resultMap="BaseResultMap" parameterType="java.util.Map">
		select a.*, b.OPERATOR_NAME, c.PROVINCE_NAME, d.NAME
		from t_flow_product a
		INNER JOIN t_base_operator b ON a.OPERATOR_CODE = b.ID
		INNER JOIN t_base_province c ON a.PROVINCE_CODE = c.ID
		INNER JOIN t_flow_provider d ON a.PROVIDER_CODE = d.PROVIDER_CODE
		<include refid="query_body"/>
		limit #{start} , #{pageSize}
  </select>
  <select id="getCount" resultType="java.lang.Long" parameterType="java.util.Map">
  		SELECT COUNT(*) FROM t_flow_product a
  		<include refid="query_body"/>
  </select>
  <select id="selectByProductCode" parameterType="java.lang.String" resultMap="BaseResultMap">
     select a.*, b.OPERATOR_NAME, c.PROVINCE_NAME, d.NAME
		from t_flow_product a
		INNER JOIN t_base_operator b ON a.OPERATOR_CODE = b.ID
		INNER JOIN t_base_province c ON a.PROVINCE_CODE = c.ID
		INNER JOIN t_flow_provider d ON a.PROVIDER_CODE = d.PROVIDER_CODE
		where a.PRODUCT_CODE = #{productCode,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select a.*, b.OPERATOR_NAME, c.PROVINCE_NAME, d.NAME
		from t_flow_product a
		INNER JOIN t_base_operator b ON a.OPERATOR_CODE = b.ID
		INNER JOIN t_base_province c ON a.PROVINCE_CODE = c.ID
		INNER JOIN t_flow_provider d ON a.PROVIDER_CODE = d.PROVIDER_CODE
   		where a.ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_flow_product
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByProductCode" parameterType="java.lang.String">
    delete from t_flow_product
    where product_code = #{productCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.flow.system.model.Product">
    insert into t_flow_product (ID, PRODUCT_CODE, PRODCUT_NAME, 
      OPERATOR_CODE, PROVIDER_CODE, PRO_PRODUCT_CODE, 
      PROVINCE_CODE, ENABLE_AREA, ENABLE_TYPE, PRIORITY, 
      SIZE, PRICE, DISCOUNT, 
      PURCHASED, STATE, DESCRIPTION
      )
    values (#{id,jdbcType=INTEGER}, #{productCode,jdbcType=VARCHAR}, #{prodcutName,jdbcType=VARCHAR}, 
      #{operatorCode,jdbcType=VARCHAR}, #{providerCode,jdbcType=VARCHAR}, #{proProductCode,jdbcType=VARCHAR}, 
      #{provinceCode,jdbcType=VARCHAR}, #{enableArea,jdbcType=INTEGER}, #{enableType,jdbcType=INTEGER}, #{priority,jdbcType=INTEGER}, 
      #{size,jdbcType=INTEGER}, #{price,jdbcType=DOUBLE}, #{discount,jdbcType=DOUBLE}, 
      #{purchased,jdbcType=DOUBLE}, #{state,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.flow.system.model.Product">
    insert into t_flow_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="productCode != null">
        PRODUCT_CODE,
      </if>
      <if test="prodcutName != null">
        PRODCUT_NAME,
      </if>
      <if test="operatorCode != null">
        OPERATOR_CODE,
      </if>
      <if test="providerCode != null">
        PROVIDER_CODE,
      </if>
      <if test="proProductCode != null">
        PRO_PRODUCT_CODE,
      </if>
      <if test="provinceCode != null">
        PROVINCE_CODE,
      </if>
      <if test="enableArea != null">
        ENABLE_AREA,
      </if>
      <if test="enableType != null">
        ENABLE_TYPE,
      </if>
      <if test="priority != null">
        PRIORITY,
      </if>
      <if test="size != null">
        SIZE,
      </if>
      <if test="price != null">
        PRICE,
      </if>
      <if test="discount != null">
        DISCOUNT,
      </if>
      <if test="purchased != null">
        PURCHASED,
      </if>
      <if test="state != null">
        STATE,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productCode != null">
        #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="prodcutName != null">
        #{prodcutName,jdbcType=VARCHAR},
      </if>
      <if test="operatorCode != null">
        #{operatorCode,jdbcType=VARCHAR},
      </if>
      <if test="providerCode != null">
        #{providerCode,jdbcType=VARCHAR},
      </if>
      <if test="proProductCode != null">
        #{proProductCode,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null">
        #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="enableArea != null">
        #{enableArea,jdbcType=INTEGER},
      </if>
      <if test="enableType != null">
        #{enableType,jdbcType=INTEGER},
      </if>
      <if test="priority != null">
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="size != null">
        #{size,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=DOUBLE},
      </if>
      <if test="purchased != null">
        #{purchased,jdbcType=DOUBLE},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.flow.system.model.Product">
    update t_flow_product
    <set>
      <if test="productCode != null">
        PRODUCT_CODE = #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="prodcutName != null">
        PRODCUT_NAME = #{prodcutName,jdbcType=VARCHAR},
      </if>
      <if test="operatorCode != null">
        OPERATOR_CODE = #{operatorCode,jdbcType=VARCHAR},
      </if>
      <if test="providerCode != null">
        PROVIDER_CODE = #{providerCode,jdbcType=VARCHAR},
      </if>
      <if test="proProductCode != null">
        PRO_PRODUCT_CODE = #{proProductCode,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null">
        PROVINCE_CODE = #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="enableArea != null">
        ENABLE_AREA = #{enableArea,jdbcType=INTEGER},
      </if>
      <if test="enableType != null">
        ENABLE_TYPE = #{enableType,jdbcType=INTEGER},
      </if>
      <if test="priority != null">
        PRIORITY = #{priority,jdbcType=INTEGER},
      </if>
      <if test="size != null">
        SIZE = #{size,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        PRICE = #{price,jdbcType=DOUBLE},
      </if>
      <if test="discount != null">
        DISCOUNT = #{discount,jdbcType=DOUBLE},
      </if>
      <if test="purchased != null">
        PURCHASED = #{purchased,jdbcType=DOUBLE},
      </if>
      <if test="state != null">
        STATE = #{state,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.flow.system.model.Product">
    update t_flow_product
    set PRODUCT_CODE = #{productCode,jdbcType=VARCHAR},
      PRODCUT_NAME = #{prodcutName,jdbcType=VARCHAR},
      OPERATOR_CODE = #{operatorCode,jdbcType=VARCHAR},
      PROVIDER_CODE = #{providerCode,jdbcType=VARCHAR},
      PRO_PRODUCT_CODE = #{proProductCode,jdbcType=VARCHAR},
      PROVINCE_CODE = #{provinceCode,jdbcType=VARCHAR},
      ENABLE_AREA = #{enableArea,jdbcType=INTEGER},
      ENABLE_TYPE = #{enableType,jdbcType=INTEGER},
      PRIORITY = #{priority,jdbcType=INTEGER},
      SIZE = #{size,jdbcType=INTEGER},
      PRICE = #{price,jdbcType=DOUBLE},
      DISCOUNT = #{discount,jdbcType=DOUBLE},
      PURCHASED = #{purchased,jdbcType=DOUBLE},
      STATE = #{state,jdbcType=INTEGER},
      DESCRIPTION = #{description,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>