<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flow.system.mapper.QuotationMapper">
  <resultMap id="BaseResultMap" type="com.flow.system.model.Quotation">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="SERVICE_CODE" jdbcType="VARCHAR" property="serviceCode" />
    <result column="DISTRIBUTOR_CODE" jdbcType="VARCHAR" property="distributorCode" />
    <result column="FATHER_CODE" jdbcType="VARCHAR" property="fatherCode" />
    <result column="STATE" jdbcType="INTEGER" property="state" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="IS_DISPLAY_PROVINCE" jdbcType="INTEGER" property="isDisplayProvince" />
    <result column="NICK_NAME" jdbcType="VARCHAR" property="distributionName" />
  </resultMap>
  <sql id="query_body">
  	<where>
  		<if test="distributionName !=null and distributionName != ''"> AND c.NICK_NAME like "%"#{distributionName}"%"</if>
  		<if test="state !=null and state != -1"> AND a.STATE = #{state}</if>
  		<if test="fatherCode !=null and fatherCode != ''"> AND a.FATHER_CODE = #{fatherCode}</if>
  		<if test="fatherCode ==null"> AND a.FATHER_CODE = ''</if>
  	</where>
  </sql>
  <sql id="Base_Column_List">
    ID, SERVICE_CODE, DISTRIBUTOR_CODE, FATHER_CODE, STATE, CREATE_DATE, IS_DISPLAY_PROVINCE
  </sql>
  <select id="listPage" resultMap="BaseResultMap">
  	select a.*, c.NICK_NAME
	from t_flow_service a
	INNER JOIN t_flow_distributor b ON a.DISTRIBUTOR_CODE = b.DISTRBUTOR_CODE
	INNER JOIN t_sys_user c ON c.USER_CODE = b.USER_CODE
	<include refid="query_body"/>
	limit #{start} , #{pageSize}
  </select>
  <select id="getCount" resultType="java.lang.Long">
  	SELECT COUNT(1) FROM t_flow_service a
  	INNER JOIN t_flow_distributor b ON a.DISTRIBUTOR_CODE = b.DISTRBUTOR_CODE
	INNER JOIN t_sys_user c ON c.USER_CODE = b.USER_CODE
  	<include refid="query_body"/>
  </select>
  <select id="sonListPage" resultMap="BaseResultMap">
	select a.*, c.NICK_NAME
	from t_flow_service a
	INNER JOIN t_flow_distributor b ON a.DISTRIBUTOR_CODE = b.DISTRBUTOR_CODE
	INNER JOIN t_sys_user c ON c.USER_CODE = b.USER_CODE
	<include refid="query_body"/>
	limit #{start} , #{pageSize}
  </select>
  
  <!-- 删除报价单流量包 -->
  <delete id="deleteServProd" parameterType="java.lang.String">
  	DELETE FROM t_flow_serv_prod where SERVICE_CODE = #{serviceCode}
  </delete>
  <!-- 添加报价单流量包 -->
  <insert id="insertServProd">
  	INSERT INTO t_flow_serv_prod(SERVICE_CODE,PRODUCT_CODE,DISCOUNT,STATE) VALUES
  	  <foreach collection="list" index="index" item="item" separator="," >
	   (#{serviceCode} , #{item.productCode},#{item.discount},#{item.state})
	  </foreach>
  </insert>
  
  <!-- 根据分销商获取报价单 -->
  <select id="getQuotationByDistributorCode" resultMap="BaseResultMap" parameterType="java.lang.String">
  	SELECT  ID, SERVICE_CODE, DISTRIBUTOR_CODE, FATHER_CODE, STATE, CREATE_DATE, IS_DISPLAY_PROVINCE
  	FROM t_flow_service WHERE DISTRIBUTOR_CODE = #{value} and STATE = 1
  </select>
  
  <!-- 获取分销商的流量包 -->
  <select id="findProductsByServiceCode" parameterType="java.lang.String" resultType="java.util.Map">
  	select a.PRODUCT_CODE as productCode,b.prodcut_Name as productName,b.price, a.discount
	from t_flow_serv_prod a
	inner join t_flow_product b on a.product_code = b.product_code
	where SERVICE_CODE = #{id}
  </select>
  
  <select id="getSonCount" resultType="java.lang.Long" parameterType="java.lang.String">
  	SELECT COUNT(1) FROM t_flow_service a
  	INNER JOIN t_flow_distributor b ON a.DISTRIBUTOR_CODE = b.DISTRBUTOR_CODE
	INNER JOIN t_sys_user c ON c.USER_CODE = b.USER_CODE
  	<include refid="query_body"/>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select a.*, c.NICK_NAME
	from t_flow_service a
	INNER JOIN t_flow_distributor b ON a.DISTRIBUTOR_CODE = b.DISTRBUTOR_CODE
	INNER JOIN t_sys_user c ON c.USER_CODE = b.USER_CODE
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByQuotationCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select a.*, c.NICK_NAME
	from t_flow_service a
	INNER JOIN t_flow_distributor b ON a.DISTRIBUTOR_CODE = b.DISTRBUTOR_CODE
	INNER JOIN t_sys_user c ON c.USER_CODE = b.USER_CODE
    where SERVICE_CODE = #{quotationCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_flow_service
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.flow.system.model.Quotation">
    insert into t_flow_service (ID, SERVICE_CODE, DISTRIBUTOR_CODE, 
      FATHER_CODE, STATE, CREATE_DATE, 
      IS_DISPLAY_PROVINCE)
    values (#{id,jdbcType=INTEGER}, #{serviceCode,jdbcType=VARCHAR}, #{distributorCode,jdbcType=VARCHAR}, 
      #{fatherCode,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, 
      #{isDisplayProvince,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.flow.system.model.Quotation">
    insert into t_flow_service
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="serviceCode != null">
        SERVICE_CODE,
      </if>
      <if test="distributorCode != null">
        DISTRIBUTOR_CODE,
      </if>
      <if test="fatherCode != null">
        FATHER_CODE,
      </if>
      <if test="state != null">
        STATE,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="isDisplayProvince != null">
        IS_DISPLAY_PROVINCE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="serviceCode != null">
        #{serviceCode,jdbcType=VARCHAR},
      </if>
      <if test="distributorCode != null">
        #{distributorCode,jdbcType=VARCHAR},
      </if>
      <if test="fatherCode != null">
        #{fatherCode,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isDisplayProvince != null">
        #{isDisplayProvince,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.flow.system.model.Quotation">
    update t_flow_service
    <set>
      <if test="serviceCode != null">
        SERVICE_CODE = #{serviceCode,jdbcType=VARCHAR},
      </if>
      <if test="distributorCode != null">
        DISTRIBUTOR_CODE = #{distributorCode,jdbcType=VARCHAR},
      </if>
      <if test="fatherCode != null">
        FATHER_CODE = #{fatherCode,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        STATE = #{state,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isDisplayProvince != null">
        IS_DISPLAY_PROVINCE = #{isDisplayProvince,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.flow.system.model.Quotation">
    update t_flow_service
    set SERVICE_CODE = #{serviceCode,jdbcType=VARCHAR},
      DISTRIBUTOR_CODE = #{distributorCode,jdbcType=VARCHAR},
      FATHER_CODE = #{fatherCode,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=INTEGER},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      IS_DISPLAY_PROVINCE = #{isDisplayProvince,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>