<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flow.system.mapper.UserMapper">

	<resultMap id="BaseResultMap" type="com.flow.system.model.SysUser">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="USER_CODE" jdbcType="VARCHAR" property="userCode" />
		<result column="PASSWORD" jdbcType="VARCHAR" property="password" />
		<result column="NICK_NAME" jdbcType="VARCHAR" property="nickname" />
		<result column="LINK_MAN" jdbcType="VARCHAR" property="linkman" />
		<result column="PHONE" jdbcType="VARCHAR" property="phone" />
		<result column="EMAIL" jdbcType="VARCHAR" property="email" />
		<result column="STATE" jdbcType="VARCHAR" property="isEnable" />
		<result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
		<result column="ROLE_CODE" jdbcType="VARCHAR" property="roleCode" />
	</resultMap>
	
	<resultMap id="userInfoMap" type="com.flow.system.bean.UserInfo">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="USER_CODE" jdbcType="VARCHAR" property="userCode" />
		<result column="PASSWORD" jdbcType="VARCHAR" property="password" />
		<result column="NICK_NAME" jdbcType="VARCHAR" property="nickname" />
		<result column="LINK_MAN" jdbcType="VARCHAR" property="linkman" />
		<result column="PHONE" jdbcType="VARCHAR" property="phone" />
		<result column="EMAIL" jdbcType="VARCHAR" property="email" />
		<result column="state" jdbcType="VARCHAR" property="isEnable" />
		<result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
		<result column="ROLE_CODE" jdbcType="VARCHAR" property="roleCode" />
		<result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
	</resultMap>

	<select id="getUserByUserCode" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List" /> FROM t_sys_user	WHERE USER_CODE = #{userCode,jdbcType=VARCHAR}
	</select>
		
	<sql id="Base_Column_List">
		ID, USER_CODE, PASSWORD, NICK_NAME, LINK_MAN, PHONE, EMAIL,
		STATE, CREATE_DATE,	ROLE_CODE 
	</sql>
	
	<select id="findAllUser" resultMap="userInfoMap">
		select <include refid="Base_Column_List" />	from t_sys_user
	</select>
	
	<select id="findSubUser" resultMap="userInfoMap" parameterType="java.lang.String">
		select a.ID, a.USER_CODE, a.PASSWORD, a.NICK_NAME, a.LINK_MAN, a.PHONE, a.EMAIL,
		a.STATE, a.CREATE_DATE,	a.ROLE_CODE FROM t_sys_user a
		INNER JOIN t_flow_distributor b ON a.user_code = b.user_code and b.FATHER_DISTRIBUTOR_CODE = #{value}
	</select>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" />
		from t_sys_user
		where ID = #{id,jdbcType=INTEGER}
	</select>
	
	<sql id="query_body">
	</sql>
	
	<!-- 用户分页列表 -->
	<select id="listPage" resultMap="userInfoMap" parameterType="java.util.Map">
		select a.USER_CODE, a.NICK_NAME, a.LINK_MAN, a.PHONE, a.EMAIL,
			   a.STATE, a.CREATE_DATE, a.ROLE_CODE , b.ROLE_NAME
		FROM t_sys_user a
		LEFT JOIN t_sys_role b on a.ROLE_CODE = b.ROLE_CODE
		<include refid="query_body" />
		limit #{start} , #{pageSize}
	</select>
	
	<!-- 用户count -->
	<select id="getCount" resultType="java.lang.Long" parameterType="java.util.Map">
		SELECT COUNT(1) FROM t_sys_user a
		<include refid="query_body" />
	</select>
	
	<delete id="deleteUser" parameterType="java.lang.String">
		delete from t_sys_user where USER_CODE = #{userCode}
	</delete>
	
	<insert id="insert" parameterType="com.flow.system.model.SysUser">
		insert into t_sys_user (USER_CODE, PASSWORD, NICK_NAME, LINK_MAN, PHONE,
			EMAIL, STATE, CREATE_DATE,ROLE_CODE)
		values 
			(#{userCode,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR},
			 #{nickname,jdbcType=VARCHAR}, #{linkman,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR},
			 #{email,jdbcType=VARCHAR}, #{isEnable,jdbcType=VARCHAR},#{createDate,jdbcType=TIMESTAMP},
			 #{roleCode,jdbcType=INTEGER}
		)
	</insert>
	
	<update id="updateUser" parameterType="com.flow.system.model.SysUser">
		UPDATE t_sys_user
		<set>
			<if test="password != null and password != '' ">	PASSWORD = #{password,jdbcType=VARCHAR},	</if>
			<if test="nickname != null and nickname != '' ">	NICK_NAME = #{nickname,jdbcType=VARCHAR},	</if>
			<if test="linkman != null and linkman != ''">		LINK_MAN = #{linkman,jdbcType=VARCHAR},		</if>
			<if test="phone != null and phone !=''">			PHONE = #{phone,jdbcType=VARCHAR},			</if>
			<if test="email != null and email != ''">			EMAIL = #{email,jdbcType=VARCHAR},			</if>
			<if test="isEnable != null">						STATE = #{isEnable,jdbcType=VARCHAR},	</if>
			<if test="roleCode != null">						ROLE_CODE = #{roleCode,jdbcType=INTEGER},		</if>
		</set>
		WHERE USER_CODE = #{userCode}
	</update>
	
</mapper>