<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flow.api.mapper.OrderApiMapper">
	
	<resultMap id="BaseResultMap" type="com.flow.system.model.Order">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="ORDER_CODE" 			jdbcType="VARCHAR" 	property="orderCode" />
		<result column="PROVIDER_ORDER_CODE" 	jdbcType="VARCHAR" 	property="providerOrderCode" />
		<result column="DISTRIBUTOR_ORDER_CODE" jdbcType="VARCHAR" 	property="distributorOrderCode" />
		<result column="OPERATOR_CODE" 			jdbcType="VARCHAR" 	property="operatorCode" />
		<result column="PROVIDER_CODE" 			jdbcType="VARCHAR" 	property="providerCode" />
		<result column="DISTRIBUTOR_CODE" 		jdbcType="VARCHAR" 	property="distributorCode" />
		<result column="PHONE" 					jdbcType="VARCHAR" 	property="phone" />
		<result column="PHONE_PROVINCE"			jdbcType="VARCHAR"  property="phoneProvince" />
    	<result column="PHONE_CITY" 			jdbcType="VARCHAR"  property="phoneCity" />
   	 	<result column="PRODUCT_CODE" 			jdbcType="VARCHAR"  property="productCode" />
		<result column="SIZE" 					jdbcType="INTEGER" 	property="size" />
		<result column="Price" 					jdbcType="DECIMAL" 	property="price" />
		<result column="Discount" 				jdbcType="INTEGER" 	property="discount" />
		<result column="PURCHASED" 				jdbcType="DECIMAL" 	property="purchased" />
		<result column="REAL_PURCHASED" 		jdbcType="DECIMAL" 	property="realPurchased" />
		<result column="REAL_DISCOUNT" 			jdbcType="INTEGER" 	property="realDiscount" />
		<result column="STATE" 					jdbcType="INTEGER" 	property="state" />
		<result column="PLATFORM_ERROR_CODE" 	jdbcType="VARCHAR"	property="platformErrorCode" />
		<result column="CREATE_DATE" 			jdbcType="TIMESTAMP" property="createDate" />
		<result column="CALLBACK_DATE" 			jdbcType="TIMESTAMP" property="callbackDate" />
		<result column="CALLBACK_CODE" 			jdbcType="VARCHAR" 	property="callbackCode" />
		<result column="CALLBACK_CODE_MESS" 	jdbcType="VARCHAR"	property="callbackCodeMess" />
		<result column="ENABLE_AREA" 			jdbcType="INTEGER"	property="enableArea" />
	</resultMap>
	
	<!-- 查询需要通知的订单，取前300个 -->
	<select id="getOrderList" resultMap="BaseResultMap">
		SELECT a.ORDER_CODE , a.PHONE , a.SIZE ,
			  a.PROVIDER_CODE , a.OPERATOR_CODE, b.ENABLE_AREA 
		FROM t_flow_order a
		inner join t_flow_product b on a.PRODUCT_CODE = b.PRODUCT_CODE
		where a.STATE = 0 order by a.id limit 300
	</select>
	
	<select id="getCallBackList" resultMap="BaseResultMap">
		SELECT ORDER_CODE, DISTRIBUTOR_ORDER_CODE, STATE, DISTRIBUTOR_CODE 
		FROM t_flow_order
		where (STATE = 1 or STATE = 2 or STATE = 4) and NOTICE_STATE = 1 and ERROR_TIME <![CDATA[  <  ]]> 10 
		order by id limit 300
	</select>
	<select id="getOrderByDistributorOrderId"  parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT ORDER_CODE , DISTRIBUTOR_ORDER_CODE , PLATFORM_ERROR_CODE
		FROM t_flow_order 
		where DISTRIBUTOR_ORDER_CODE = #{distributorOrderId,jdbcType=VARCHAR}
	</select>
	
	<update id="increaseNoticeErrorTime" parameterType="java.lang.String">
   		update t_flow_order
    	set ERROR_TIME = ERROR_TIME + 1
    	where ORDER_CODE = #{orderCode,jdbcType=VARCHAR}
  	</update>
  	
  	<update id="distributorCallbackSucc" parameterType="java.lang.String">
   		update t_flow_order
    	set NOTICE_STATE = 0
    	where ORDER_CODE = #{orderCode,jdbcType=VARCHAR}
  	</update>
</mapper>